<div class="">
    
    <p class="formline col-md-6 about">
         Hello. Welcome.

Thank you for stopping by.

I created this site for a number of reasons. I am always trying to expand my skill levels and increase abilities. This site and this work allows me to do just that.

Over the last 10 years, I have been working commercially under the moniker Electric Heat. My understanding of the commercial landscape has taught me not only about business, honing my skills, networking, but also about strategy. For this I am very grateful. I am beyond blessed.

The pieces on this site have a strangely familiar and organic feel to them. This is something I've always been interested in - connecting the physical with the digital. This juxtaposition garners interesting results.

I hope you enjoy the site and the work. 
    </p>
</div>
