
		
		
		
		<form class="formline col-md-6">	
		
			First name:<font color="red"> *</font><br>
			<input type="text" class="form-control" placeholder="Name">
			<br>
			Middel name <br>
			<input type="text" class="form-control" placeholder="Middel name">
			<br>
			Last name:<font color="red"> *</font><br>
			<input type="text" class="form-control" placeholder="Last name">
			<br>
			 Home Phone no:<font color="red"> *</font><br>
			 <input type="text" class="form-control" placeholder="Home No">
			 <br>
			 Cell no<br>
			 <input type="text" class="form-control" placeholder="Cell No">
			 <br>
			 Home Adress<br>
			 <textarea name="message" rows="5" cols="100" ></textarea><br>
			 <br>
			 City<br>
			 <input type="text" class="form-control" placeholder="City">
			 <br>
			 State<br>
			<input type="text" class="form-control" placeholder="State">
			 <br>
			 email:<font color="red"> *</font><br>
			<input type="text" class="form-control" placeholder="email">
			 <br><br>
		
			 <input type="radio" name="sex" value="male" checked>Male
			
			<input type="radio" name="sex" value="female">Female
			<br><br>
			
			Comments:
			<textarea name="message" rows="5" cols="100" ></textarea><br>
			<button class="add btn-info btn-sm" ng-click="addItem(item)">Submit </button>
			<br>
			
			</form>		

				
